@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('https://img.tenten.vn/t/new-2023/ldp-mira-web-comingsoon-05062023/images/tg_mira_bg.jpg');
}

